h1{
border: 3px solid rgb(62, 27, 218);
    border-radius: 8px;
}
p1{
   color: blue;
   font-size: 30px;
   background-color: yellow;

}

p2{
    font-size:30px;
}
body{
    background-color:yellow;
}
p3{
    color: blue;
}
p4{
    color:blueviolet;
}